.wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #FFFBD0;
}
.award {
  width: 35%;
  height: 600px;
}
.award img{
  width: 100%;
  height: 100%;
}
.sectionContent{
  width: 60%;
}
.sectionContent > div{
  width: 100%;
}
.sectionContent img{
  width: 100%;
}
@media screen and (max-width: 700px) {
  .wrapper{
    flex-direction: column;
    padding: 20px;
  }
  .award{
    width: 100%;
    height: 300px;
  }
  .sectionContent{
    width: 100%;
  }
}